$base-color: #4d4d4d;
$base-text-color: #fff;
$highlight-color: #f2d500;
$warning-color: #e9e51b;
$warning-text-color: #000;
$info-color: #0004ff;
$info-text-color: #fff;
$critical-color: #fd2626;
$critical-text-color: #fff;
$card-background: #000;
$card-text: #fff;
$team-logo-sm: 1rem;
$team-logo: 1.5rem;
$team-logo-lg: 2rem;
$user-avatar-sm: 1.5rem;
$user-avatar: 1rem;
$user-avatar-lg: 2.5rem;
$default-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
$light-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

$primary-color: #0000a0;
$primary-text-color: white;
$primary-hover-color: #adceff;
$primary-hover-text-color: #0000a0;
$primary-active-color: #dae9ff;
$primary-active-text-color: #0000a0;
$primary-active-border-color: #0000a0;

$secondary-color: #666;
$secondary-text-color: white;
$secondary-hover-color: #cecece;
$secondary-hover-text-color: #666;
$secondary-active-color: #e9e9e9;
$secondary-active-text-color: #666;
$secondary-active-border-color: #666;

$warning-color: #ffd900;
$warning-text-color: #695a00;
$warning-hover-color: #fcec93;
$warning-hover-text-color: #574a00;
$warning-active-color: #fcf3c1;
$warning-active-text-color: #000;
$warning-active-border-color: #695a00;

$success-color: #00a000;
$success-text-color: white;
$success-hover-color: #adffad;
$success-hover-text-color: #009900;
$success-active-color: #e9ffe9;
$success-active-text-color: #006600;
$success-active-border-color: #00a000;

$danger-color: #c20000;
$danger-text-color: white;
$danger-hover-color: #ffadad;
$danger-hover-text-color: #c20000;
$danger-active-color: #ffdada;
$danger-active-text-color: #c20000;
$danger-active-border-color: #a00000;

